.left.design1 {
    background: lightblue;
}

.left.design1 .avatar {
    background-image: url("img1.png");
}

.left.design2 {
    background: pink;
}

.left.design2 .avatar {
    background-image: url("img2.png");
}
